.vscode
forecasting
.env
.gitignore
*.csv
.DS_Store

experiments/Gemini/1_Ablation_Gemini
experiments/Gemini/2_Ablation_Gemini
experiments/Gemini/3_Ablation_Gemini
experiments/Gemini/4_Ablation_Gemini
experiments/Gemini/5_Ablation_Gemini


experiments/Deepseek/1_Ablation_Deepseek
experiments/Deepseek/2_Ablation_Deepseek
experiments/Deepseek/3_Ablation_Deepseek
experiments/Deepseek/4_Ablation_Deepseek
experiments/Deepseek/5_Ablation_Deepseek
experiments/Deepseek/rest_Deepseek_stat
experiments/Deepseek/rest_Deepseek

experiments/OpenAI/1_Ablation_OpenAI
experiments/OpenAI/2_Ablation_OpenAI
experiments/OpenAI/3_Ablation_OpenAI
experiments/OpenAI/4_Ablation_OpenAI
experiments/OpenAI/5_Ablation_OpenAI

experiments/Claude/1_Ablation_Claude
experiments/Claude/5_Ablation_Claude

experiments/queries/rest.json
experiments/queries/queries_eval_1.json
experiments/queries/queries_eval_2.json
experiments/queries/queries_eval_3.json
experiments/queries/queries_eval_4.json
experiments/queries/queries_eval_5.json

data/data.ipynb