.vscode
forecasting
.env
.gitignore
*.csv
.DS_Store

ablation/Gemini/1_Ablation_Gemini
ablation/Gemini/2_Ablation_Gemini
ablation/Gemini/3_Ablation_Gemini
ablation/Gemini/4_Ablation_Gemini
ablation/Gemini/5_Ablation_Gemini


ablation/Deepseek/1_Ablation_Deepseek
ablation/Deepseek/2_Ablation_Deepseek
ablation/Deepseek/3_Ablation_Deepseek
ablation/Deepseek/4_Ablation_Deepseek
ablation/Deepseek/5_Ablation_Deepseek
ablation/Deepseek/rest_Deepseek_stat
ablation/Deepseek/rest_Deepseek

ablation/OpenAI/1_Ablation_OpenAI
ablation/OpenAI/2_Ablation_OpenAI
ablation/OpenAI/3_Ablation_OpenAI
ablation/OpenAI/4_Ablation_OpenAI
ablation/OpenAI/5_Ablation_OpenAI

ablation/Claude/1_Ablation_Claude
ablation/Claude/5_Ablation_Claude

ablation/queries/rest.json
ablation/queries/queries_eval_1.json
ablation/queries/queries_eval_2.json
ablation/queries/queries_eval_3.json
ablation/queries/queries_eval_4.json
ablation/queries/queries_eval_5.json

data.ipynb
