.vscode
forecasting
.env
.gitignore
*.csv
.DS_Store

experiments/outputs/Gemini/1_Ablation_Gemini
experiments/outputs/Gemini/2_Ablation_Gemini
experiments/outputs/Gemini/3_Ablation_Gemini
experiments/outputs/Gemini/4_Ablation_Gemini
experiments/outputs/Gemini/5_Ablation_Gemini


experiments/outputs/Deepseek/1_Ablation_Deepseek
experiments/outputs/Deepseek/2_Ablation_Deepseek
experiments/outputs/Deepseek/3_Ablation_Deepseek
experiments/outputs/Deepseek/4_Ablation_Deepseek
experiments/outputs/Deepseek/5_Ablation_Deepseek
experiments/outputs/Deepseek/rest_Deepseek_stat
experiments/outputs/Deepseek/rest_Deepseek

experiments/outputs/OpenAI/1_Ablation_OpenAI
experiments/outputs/OpenAI/2_Ablation_OpenAI
experiments/outputs/OpenAI/3_Ablation_OpenAI
experiments/outputs/OpenAI/4_Ablation_OpenAI
experiments/outputs/OpenAI/5_Ablation_OpenAI

experiments/outputs/Claude/1_Ablation_Claude
experiments/outputs/Claude/5_Ablation_Claude

experiments/queries/rest.json
experiments/queries/queries_eval_1.json
experiments/queries/queries_eval_2.json
experiments/queries/queries_eval_3.json
experiments/queries/queries_eval_4.json
experiments/queries/queries_eval_5.json
experiments/eval/predicted_vs_gt/

data/data.ipynb
